<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.kaini.level">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".CircleGradienterActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".LineGradienterAcitivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".GyroActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".sensor.AccelerometerSensorActivity"/>
        <activity android:name=".sensor.GravityActivity"/>
        <activity android:name=".sensor.GyroscopeSensorActivity"/>
        <activity android:name=".sensor.LightSensorActivity"/>
        <activity android:name=".sensor.MagneticFieldSensorActivity"/>
        <activity android:name=".sensor.MainActivity"/>
        <activity android:name=".sensor.ProximitySensorActivity"/>
        <activity android:name=".sensor.SensorListActivity"/>
        <activity android:name=".sensor.VirtualJax"/>
    </application>

</manifest>